.account{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.account-item{
    padding: .4rem 0;
    margin-left: 4rem;
    cursor: pointer;

    &:hover{
        opacity: .6;
    }
}