<div class="account">

    <div class="user">Tài Khoản</div>
    
    <div (click)="close()" class="account-item">
        <app-button [size]="'large'" [tooltip]="'Giỏ hàng'" [text]="'Cart'" [leftIcon]="'fa-solid fa-cart-shopping'"></app-button>
    </div>

    <div (click)="close()" class="account-item">
        <app-button [size]="'large'" [tooltip]="'Đăng nhập'" [text]="'Login'" [leftIcon]="'fa-solid fa-right-to-bracket'"></app-button>
    </div>

    <div (click)="close()" class="account-item">
        <app-button [size]="'large'" [tooltip]="'Đăng ký'" [text]="'Sign up'" [leftIcon]="'fa-solid fa-user-plus'"></app-button>
    </div>
</div>
