<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 font">
                <p class="fs-5 mb-5">Đặt sự hài lòng của khách hàng là ưu tiên số 1 trong mọi suy nghĩ hành động của mình” là sứ mệnh, là triết lý, chiến lược.. luôn cùng YODY tiến bước</p>
                <p class="fs-4">ĐĂNG KÝ NHẬN THÔNG TIN</p>
                <div class="footer-register d-flex">
                    <input class="input-footer py-3" type="text">
                    <div class="btn btn-warning">Đăng Ký</div>
                </div>
                <div class="d-flex mt-5">
                    <div class="contact-item">
                        <i class="fa-brands fa-facebook contact-icon"></i>
                    </div>

                    <div class="contact-item">
                        <i class="fa-brands fa-youtube contact-icon"></i>
                    </div>

                    <div class="contact-item">
                        <i class="fa-brands fa-instagram contact-icon"></i>
                    </div>

                    <div class="contact-item">
                        <i class="fa-brands fa-shopify contact-icon"></i>
                    </div>

                    <div class="contact-item">
                        <i class="fa-brands fa-tiktok contact-icon"></i>
                    </div>
                    
                </div>
            </div>
    
            <div class="col-md-2 font">
                <p class="fs-4">Về Yody</p>
                <p class="fs-5 f">Giới thiệu</p>
                <p class="fs-5 f">Liên hệ</p>
                <p class="fs-5 f">Tuyển dụng</p>
                <p class="fs-5 f">Tin tức</p>
                <p class="fs-5 f">Hệ thống của hàng</p>
                <p class="fs-5 f">Hàng mới về</p>
                <p class="fs-5 f">Ứu đãi hàng Outlet</p>
            </div>
    
            <div class="col-md-3 font">
                <p class="fs-4">Hướng dẫn chọn size</p>
                <p class="fs-5 f">Chính sách khách hàng thân thiết</p>
                <p class="fs-5 f">Chính sách đổi/trả</p>
                <p class="fs-5 f">Chính sách bảo mật</p>
                <p class="fs-5 f">Thanh toán, giao nhận</p>
                <p class="fs-5 f">Hệ thống của hàng</p>
                <p class="fs-5 f">Chính sách Đồng phục</p>
                <p class="fs-5 f">Chính sách bảo mật thông tin khách hàng</p>
            </div>
    
            <div class="col-md-3 font">
                <p class="fs-4">CÔNG TY CP THỜI TRANG YODY</p>
                <p class="fs-5 f"><i class="fa-solid fa-location-dot me-2 fs-2"></i>Công ty cổ phần Thời trang YODY</p>
                <p class="fs-5 f">Mã số thuế: 0801206940</p>
                <p class="fs-5 f">Địa chỉ: Đường An Định - Phường Việt Hòa - Thành phố Hải Dương - Hải Dương</p>
                <p class="fs-5 f"><i class="fa-solid fa-store me-2 fs-2"></i> Tìm cửa hàng gần bạn nhất</p>
                <p class="fs-5 f"><i class="fa-solid fa-phone me-2 fs-2"></i> Liên hệ đặt hàng: 024 999 86 999 Thắc mắc đơn hàng: 024 999 86 999 Góp ý khiếu nại: 1800 2086</p>
                <p class="fs-5 f"><i class="fa-solid fa-envelope me-2 fs-2"></i>Email: chamsockhachhang@yody.vn</p>
            </div>
        </div>
    </div>
</div>
