.footer{
    background-color: var(--color-black);
    color: var(--color-white);
    padding: 2rem 0;
    margin-top: 2rem;
}

.font{
    font-size: 1rem;
}

.input-footer{
    width: 70%;
    margin-right: .4rem;
    border-radius: .4rem;
}

.contact-item{
    width: 4rem;
    margin-right: 3rem;
    height: 4rem;
    border-radius: 50%;
    background-color: var(--color-white);
    cursor: pointer;

    &:hover{
        opacity: .8;
    }
}

.contact-icon{
    color: var(--color-black);
    font-size: 3rem;
    line-height: 4rem;
    margin-left: 50%;
    transform: translateX(-50%);
}

.f{
    cursor: pointer;
    transition: .3s;
    
    &:hover{
        color: var(--color-hover);
        margin-left: .3rem;
    }
}