<header class="header">
  <div class="container">


    <nav class="top-header">
      <div class="logo">
        <img src="//bizweb.dktcdn.net/100/438/408/themes/904142/assets/logo.svg?1682840591373" alt="">
      </div>
      <div class="search">
        <app-search></app-search>
      </div>
      <div class="inner">
        <div class="me-2 inner-item" placement="bottom" ngbTooltip="Vị trí">
          <div class="button-icon"><i class="fa-solid fa-location-dot"></i> GPS</div>
        </div>
        <div class="me-2 inner-item" placement="bottom" ngbTooltip="Điện thoại" >
          <div class="button-icon"><i class="fa-solid fa-phone"></i> Phone</div>
        </div>
        <div class="me-2 inner-item" placement="bottom" ngbTooltip="Phây búc">
          <div class="button-icon"><i class="fa-brands fa-facebook"></i> Facebook</div>
      </div>
      </div>
    </nav>



    <nav class="bottom-header">
      <div class="category">
        <app-categories></app-categories>
      </div>

      <div class="account">
        <app-account></app-account>
      </div>
    </nav>
  </div>
</header>





