.header{
    background-image: url('../../../assets/storage/image/background-header.webp');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1rem 1rem 0 1rem;
    background-color: rgba(0, 0, 0, .7);
    z-index: 2;
    box-shadow: 0 0 1rem #201f1f;
}

.top-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    padding-right: 14rem;
}

.search{
    position: relative;
    z-index: 3;
    width: 30%;
}

.inner{
    display: flex;
}

.button-icon{
    padding: .4rem ;
    margin-left: 1.6rem;
    cursor: pointer;

    &:hover{
        opacity: .8;
    }
}

.bottom-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

.category{
    color: var(--color-black);
}

.account{
    color: var(--color-black);
}

::ng-deep .tooltip-inner {
    font-size: 1rem;
    padding: .6rem;
  }

