

<div>
    <ul class="category-content">
      <div class="category-topic">Danh Mục</div>
				<li [ngClass]="{activeRoute: currentRoute === '/'}" class="category-item"><a [ngClass]="{activeRoute: currentRoute === '/'}" class="link" routerLink="/">BST SS2023</a></li>
        <li [ngClass]="{activeRoute: currentRoute === '/women'}" class="category-item"><a [ngClass]="{activeRoute: currentRoute === '/women'}" class="link" routerLink="/women">Nữ
          <div class="box"><app-category-detail [type]="'nu'"></app-category-detail></div>
        </a></li>
        <li [ngClass]="{activeRoute: currentRoute === '/men'}" class="category-item"><a [ngClass]="{activeRoute: currentRoute === '/men'}" class="link" routerLink="/men">Nam
          <div class="box"><app-category-detail [type]="'nam'"></app-category-detail></div>
        </a></li>
        <li [ngClass]="{activeRoute: currentRoute === '/children'}" class="category-item"><a [ngClass]="{activeRoute: currentRoute === '/children'}" class="link" routerLink="/children">Trẻ em
          <div class="box"><app-category-detail [type]="'tre-em'"></app-category-detail></div>
        </a></li>
        <li class="category-item"><a class="link">Bộ sưu tập</a></li>
        <li class="category-item"><a class="link">Đồng phục</a></li>
      </ul>
</div>



