

<div class="category">
    <ul class="category-content">
        <li class="category-item"><a class="link" routerLink="/">BST SS2023</a></li>
        <li class="category-item"><a class="link" routerLink="/women">Women</a></li>
        <li class="category-item"><a class="link" routerLink="/men">Men</a></li>
        <li class="category-item"><a class="link" routerLink="/children">Children</a></li>
        <li class="category-item"><a class="link" routerLink="/login">Login</a></li>
        <li class="category-item"><a class="link" routerLink="/register">Register</a></li>
      </ul>
</div>



