

<div>
    <ul class="category-content">
				<li [ngClass]="{activeRoute: currentRoute === '/'}" class="category-item"><a [ngClass]="{activeRoute: currentRoute === '/'}" class="link" routerLink="/">BST SS2023</a></li>
        <li [ngClass]="{activeRoute: currentRoute === '/women'}" class="category-item"><a [ngClass]="{activeRoute: currentRoute === '/women'}" class="link" routerLink="/women">Nữ</a></li>
        <li [ngClass]="{activeRoute: currentRoute === '/men'}" class="category-item"><a [ngClass]="{activeRoute: currentRoute === '/men'}" class="link" routerLink="/men">Nam</a></li>
        <li [ngClass]="{activeRoute: currentRoute === '/children'}" class="category-item"><a [ngClass]="{activeRoute: currentRoute === '/children'}" class="link" routerLink="/children">Trẻ em</a></li>
        <li class="category-item"><a class="link">Bộ sưu tập</a></li>
        <li class="category-item"><a class="link">Đồng phục</a></li>
      </ul>
</div>



