
.imgitem img
{  
    border-radius: 100%;
    width: 30px;
    height: 30px;
}
.full{
    padding-top: 50px;
    width: 90%;
}
.nameitem{
    font-size: 1.5rem;
    font-family: bold;
}
ul.image-Big li{
    border-radius: 5%;
    box-shadow:5px 5px 5px wheat;
    overflow: hidden;
    padding: 0;
}
li.image-Big img{
    display: block;
    position: relative;

}
.image-Big{
    padding: 0;
    
}
ul.image-Big li:hover img{
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
    opacity: 0.8;
}
.nameIcon a{
    position: absolute;
    bottom: 30%;
    transform: translateX(-50%);
    transition: all 0.5s ease-in-out;
    opacity: 0;
}
ul.image-Big li:hover .nameIcon a{
    bottom: 60%;
    opacity: 1;
}
.price{
    padding: 0;
}
.dscription p{
    position: absolute;
    top: 9%;
    left: -9%;
    border-radius: 5%;
    position: absolute;
    width: auto;
    z-index: 2;
    padding: 0 7px 0 7px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 4px;
    background: rgba(0,0,0,0.6);
    height: 24px;
    font-size: 12px;
    font-family: 'SVN-Gilroy';
    color: #fff;
    font-weight: 600;
    display: flex;
    align-items: center;
    transform: translate(30%,30%);
}
.dscription1 p{
    position: absolute;
    top: 9%;
    right: 15%;
    width: auto;
    z-index: 2;
    padding: 0 7px 0 7px;
    border-top-left-radius: 4px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 4px;
    background: red;
    height: 24px;
    font-size: 12px;
    font-family: 'SVN-Gilroy';
    color: #fff;
    font-weight: 600;
    display: flex;
    align-items: center; 
    transform: translate(30%,30%);
}
.banner-page{
    padding-top: 50px;
}
@media (max-width: 1200px) {
    .img-none{
display: none;
    }
}
