
      <div class="search">
        <input [(ngModel)]="content" (focus)="show()" (blur)="hiden()" type="text" class="search-input" placeholder="Tìm kiếm">
        <div class="close-icon" (click)="resertInput()">
          <i class="fa-regular fa-circle-xmark"></i>
        </div>
        <div class="btn-search">
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>

        <div *ngIf="isVisable" class="tooltips">
            <div *ngFor="let product of products">
              <app-search-result [product]="product"></app-search-result>
            </div>
            
        </div>
      </div>
