:root {
  --color-black: black;
  --color-white: #fff;
  --color-hover: red;
}

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem !important;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

button,
input,
[tabindex] {
  outline: none;
  border: none;
}

a,
li, [href] {
  text-decoration: none;
  color: black;
  list-style: none;
}

button {
  outline: none;

  &:active{
    border: none;
    outline: none;
  }
}

